/* (How To Download and Install Google Fonts - Mac and PC, 2020). This youtube video showed me how to download the google fonts that l am using in my webpage */

/* Styles for the hyperlink */
a {
    color: white;
    font-family: 'Hammersmith One', sans-serif;
    word-spacing: 0.1em;
    text-align: center;
    padding: 0 20px;
    text-decoration: none;
}


/* Styles for the the title of the webpage */
h1 {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    color: white;
    margin-top: 20px;
}


/* Styles for the subheading */
h2 {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 30px;
    color: white;
    margin-top: 20px;
}


/* Styles for the subheading explanation */
h3 {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: white;
    margin-top: 20px;
}

/* Styles for the paragraph */
p {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 18px;
    color: white;
    margin: 20px 100px 20px 100px;
    text-align: center;
}


/* Background for the webpage */
body {
    background-color: #56686a;
}
/* Styles for the buttons */

button {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 18px;
    color: #fbf8f8;
    border-radius: 15px;
    border: none;
    background-color: #93a2b8;
    padding: 10px 20px;
    margin-top: 10px;
}

button:hover {
    background-color: E0E0E0; 
    color: rgb(126, 174, 189); 
}