
/* Code used to center the paragraph */
p {
    text-align: center;
}


/* Styles for the hyperlinks */
a {
    color: white;
    font-family: 'Hammersmith One', sans-serif;
    word-spacing: 0.1em;
    text-align: center;
    padding: 0 20px;
    text-decoration: none;
}


/* Styles for the heading of the website */
h1 {
    color: white;
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 60px;
}


/* Styles of the subheading */
h2 {
    color: white;
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 30px;
}


/* Styles and positions of the cantact details */
.Contacts span {
    color: white;
    font-family: 'Hammersmith One', sans-serif;
    text-align: center;
    font-size: 20px;
    margin-right: 40px;
}


/* Styles and positions of the social media details */
.Socials span {
    color: white;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-right: 40px;
}


/* Styles and positions of the address details */
.Addresses span {
    color: white;
    font-family: 'Hammersmith One', sans-serif;
    text-align: center;
    font-size: 20px;
    margin-right: 40px;
}


/* Background color of the webpage */
body {
    background-color: #cfadad;
}

/* Styles for the buttons */
button {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 18px;
    color: #fbf8f8;
    border-radius: 15px;
    border: none;
    background-color: #a06d8c;
    padding: 10px 20px;
    margin-top: 10px;
}

button:hover {
    background-color: E0E0E0; 
    color: rgb(100, 11, 96); 
}

/* Styles for the spans */
span {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Hammersmith One', sans-serif;
    color: antiquewhite;
    font-size: 18px;
}

/*animations for the hyperlinks*/
a:hover {
    color: #f8f6f6;
    font-size: 22px;
    transition: 0.3s;
}

a:active {
    color: #e3dada;
    background-color: antiquewhite;
    border-radius: 15px;
}
